{% extends "rocket/campaign/base.html" %}

{% block title %}Get free {{ campaign.brand }}!{% endblock %}

{% block content %}
  <div>
    You are viewing the "{{ campaign.brand }}" campaign for {{ campaign.brand.client }}. We're giving away {{ campaign.total_units }}!
  </div>


  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({ 
      appId: '{{ campaign.facebook_app_id }}',
      cookie: true, 
      status: true,
      xfbml: true,
      oauth: true
    });
  </script>
  <fb:login-button perms="email,user_about_me,user_birthday,user_education_history,user_interests">Login with Facebook</fb:login-button>
{% endblock %}
